/* global style  */
:global(.vtex-flex-layout-0-x-flexColChild) {
  font-family: CenturyGothicRegular;
}
.notificationBarContainer {
  background-color: #ccff00;
  text-decoration: none;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15px;
  text-align: center;
}
:global(.vtex-store-components-3-x-container) {
  padding: 0;
}

/* global ends */

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

/* Home Starts */
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--carousel)
  :global(.vtex-slider-layout-0-x-paginationDotsContainer) {
  position: absolute;
  bottom: -25px;
}
:global(.vtex-slider-layout-0-x-paginationDot) {
  background-color: #ccff00;
  border: 2px solid #ccff00;
}
:global(.vtex-slider-layout-0-x-paginationDot--isActive) {
  border: 2px solid #212165;
}
:global(.vtex-store-components-3-x-imageElement--imgcats) {
  border-radius: 50%;
  width: 180px;
  height: 180px !important;
}

.items-stretch {
  margin: 0;
}

@media (min-width: 491px) {
  :global(.vtex-flex-layout-0-x-flexRow--categoriesMobileRow){
    display: none;
  }
}

@media (max-width: 490px) {
  :global(.vtex-flex-layout-0-x-flexRow--sldcatscontenedor){
    display: none;
  }

  :global(.vtex-flex-layout-0-x-flexRow--categoriesMobileRow){
    margin-top: 20px;
  }

  :global(.vtex-flex-layout-0-x-flexRow--categoriesMobileRow)
  :global(.vtex-store-components-3-x-imageElement) {
    width: 82px !important;
    height: 82px!important;
  }

  :global(.vtex-flex-layout-0-x-flexRow--categoriesMobileRow)
  :global(.vtex-rich-text-0-x-paragraph) {
    font-size: 20px !important;
    color: #0a0a0a;
    font-family: CenturyGothicBold;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 29px;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(0 0 0 / 50%);
    margin-top: 0;
  }
}

:global(.vtex-slider-layout-0-x-slide--contenidosldcats)
  :global(.vtex-rich-text-0-x-paragraph) {
  color: #0a0a0a;
  font-family: CenturyGothicBold;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
  text-align: center;
  text-shadow: 1px 1px 4px rgb(0 0 0 / 50%);
  margin-top: 0;
}
:global(.vtex-slider-layout-0-x-paginationDotsContainer--contenidosldcats) {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexRowContent--contenedortitulo)
  :global(.vtex-rich-text-0-x-paragraph) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 29px;
  margin-top: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--contenedorinfos)
  :global(.vtex-store-components-3-x-infoCardContainer) {
  min-height: 440px;
  /* opacity: 0.5; */
  /* background-color: #000; */
}
:global(.vtex-flex-layout-0-x-flexRowContent--contenedorinfos)
  :global(.vtex-store-components-3-x-infoCardHeadline--rowic) {
  color: #ffffff;
  font-family: CenturyGothicBold;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
  text-align: center;
}
:global(.vtex-store-components-3-x-infoCardTextContainer--rowic) {
  width: 60%;
}
:global(.vtex-flex-layout-0-x-flexRowContent--contenedorinfos)
  :global(.vtex-store-components-3-x-infoCardCallActionContainer)
  :global(.vtex-button) {
  border: 2px solid #ccff00;
  border-radius: 30px;
  background-color: transparent;
  color: #212165;
  font-family: CenturyGothicBold;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
:global(.vtex-flex-layout-0-x-flexColChild--colinfo) {
  /* opacity: 0.7; */
  /* background-color: #000; */
}
/* marcas start */

:global(.vtex-flex-layout-0-x-flexRow--marcas)
  :global(.vtex-store-components-3-x-container) {
  padding: 0;
  background-color: #f6f6f6;
}
:global(.vtex-flex-layout-0-x-flexRowContent--marcas) {
  padding: 10px 0;
}
/* marcas ends */
/* full banenr footer starts */
:global(.vtex-store-components-3-x-infoCardContainer--rowic) {
  height: 440px;
}
:global(.vtex-store-components-3-x-infoCardContainer--rowic)
  :global(.vtex-store-components-3-x-infoCardHeadline--rowic) {
  color: #ffffff;
  font-family: CenturyGothicBold;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
  text-align: center;
}
:global(.vtex-store-components-3-x-infoCardContainer--rowic)
  :global(.vtex-button) {
  height: 30px;
  width: 200px;
  border: 2px solid #ccff00;
  border-radius: 30px;
  background-color: transparent;
  color: #212165;
  font-family: centuryGothicBold;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}
/* full banner footer ends */

/* deals starts */
:global(.vtex-flex-layout-0-x-flexRow--deals) {
  padding: 30px 0;
}
:global(.vtex-flex-layout-0-x-flexRow--deals)
  :global(.vtex-rich-text-0-x-paragraph) {
  margin-top: 13px;
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}
/* deals ends */

/* newsletter starts */
:global(.vtex-store-components-3-x-newsletter)
  :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #292929;
  font-family: CenturyGothicRegular;
  font-size: 15px;
  text-align: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--newsLetter) {
  /* height: 170px; */
  margin-top: 10px;
  background-color: #ccff00;
  padding-bottom: 15px;
}
:global(.vtex-store-components-3-x-newsletter) {
  background-color: #ccff00;
}
:global(.vtex-flex-layout-0-x-flexRow--newsLetter)
  :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
:global(.vtex-flex-layout-0-x-flexRow--newsLetter)
  :global(.vtex-rich-text-0-x-paragraph--titnews) {
  color: #212165;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRow--newsLetter)
  :global(.vtex-rich-text-0-x-paragraph--textnews) {
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}
:global(.vtex-flex-layout-0-x-flexRow--newsLetter)
:global(.vtex-rich-text-0-x-paragraph--textnewsRestrictions) {
  font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--newsLetter)
  :global(.vtex-input-prefix__group) {
  height: 40px;
  width: 332px;
  border: 1.5px solid #212165;
  border-radius: 3px 0 0 3px;
  background-color: #ffffff;
  color: rgba(37, 37, 37, 0.5);
  font-family: CenturyGothicRegular;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--newsLetter)
  :global(.vtex-styleguide-9-x-hideDecorators) {
  color: rgba(37, 37, 37, 0.5);
  font-family: CenturyGothicRegular;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--newsLetter)
  :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: rgba(37, 37, 37, 0.5);
  font-family: CenturyGothicRegular;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--newsLetter)
  :global(.vtex-store-components-3-x-buttonContainer) {
  border-radius: 0 3px 3px 0;
  color: #ccff00;
  padding-left: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--newsLetter)
  :global(.vtex-button) {
  margin: 0;
  color: #ccff00;
  background-color: #212165;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--newsLetter)
  :global(.vtex-button__label) {
  color: #ccff00;
}
:global(.vtex-flex-layout-0-x-flexRow--newsLetter)
  :global(.vtex-store-components-3-x-confirmationTitle) {
  color: #212165;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
}
:global(.vtex-flex-layout-0-x-flexRow--newsLetter)
  :global(.vtex-store-components-3-x-confirmationText) {
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRow--newsLetter) :global(.vtex-input__error) {
  color: #212165;
  font-family: CenturyGothicBold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
/* newsletter ends */
/* Home ends */

/* responsive starts */
@media (max-width: 768px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--contenedorinfos)
    :global(.vtex-store-components-3-x-infoCardContainer) {
    min-height: auto;
  }
  :global(.vtex-store-components-3-x-infoCardContainer--rowic) {
    height: auto;
  }
}
@media (max-width: 568px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--newsLetter)
    :global(.vtex-input-prefix__group) {
    width: auto;
  }
  :global(.vtex-store-components-3-x-infoCardContainer--rowic) {
    margin-top: 20px;
    /* background-color: rgba(0, 0, 0, 0.1);
    opacity: 0.4; */
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--contenedortitulo) {
    margin-top: 3px;
  }
  :global(.vtex-slider-layout-0-x-paginationDotsContainer--shelf) {
    display: none;
  }
  :global(.vtex-store-components-3-x-infoCardContainer--rowic-descuentos) {
    margin-top: 0;
  }
}
/* responsive ends */

/*----------------------------- PDP Starts ---------------------------*/

/* breadcrumb starts */
:global(.vtex-breadcrumb-1-x-link) {
  opacity: 0.4;
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-breadcrumb-1-x-term) {
  color: #252525;
  font-family: centuryGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-breadcrumb-1-x-arrow) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-breadcrumb-1-x-caretIcon) {
  display: none;
}
:global(.vtex-breadcrumb-1-x-arrow) {
  font-size: 0;
}
:global(.vtex-breadcrumb-1-x-arrow)::after {
}
:global(.vtex-breadcrumb-1-x-link)::after {
  content: "/";
  font-size: 16px;
  margin-left: 5px;
  color: #252525;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.4;
}
:global(.vtex-flex-layout-0-x-flexRowContent--contenedortitulo) {
  padding-top: 20px;
}
/* :global(.vtex-breadcrumb-1-x-arrow):last-child {
  display: none;
}
:global(.vtex-breadcrumb-1-x-termArrow):last-child {
  display: none;
} */
/* breadcrumb ends */
/* propduct info  */
:global(.vtex-flex-layout-0-x-flexCol--col-product-info)
  :global(.vtex-store-components-3-x-productNameContainer)
  :global(.vtex-store-components-3-x-productBrand) {
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 37px;
}
:global(.vtex-product-identifier-0-x-product-identifier--productReference) {
  display: none;
}
/* slector talla starts */
:global(.vtex-store-components-3-x-skuSelectorName) {
  font-size: 0;
}
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--color) 
:global(.vtex-store-components-3-x-skuSelectorName)::before{
  content: "Elige tu color";
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-store-components-3-x-skuSelectorName)::before {
  content: "Elige tu talla";
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-store-components-3-x-skuSelectorInternalBox) {
  border: 0;
}

:global(.vtex-store-components-3-x-skuSelectorSubcontainer--color)
:global(.vtex-store-components-3-x-skuSelectorItem){
  box-sizing: border-box;
  height: 32px;
  width: 64px;
  border: 1px solid #212165;
  border-radius: 3px;
}
:global(.vtex-store-components-3-x-skuSelectorItem) {
  box-sizing: border-box;
  height: 32px;
  width: 64px;
  border: 2px solid #212165;
  border-radius: 3px;
}
:global(.vtex-store-components-3-x-skuSelectorItem--m) {
  box-sizing: border-box;
  height: 32px;
  width: 64px;
  border: 2px solid #212165;
  border-radius: 3px;
}
:global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
  color: #212165;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
:global(.vtex-store-components-3-x-skuSelectorItem--s) {
  box-sizing: border-box;
  height: 32px;
  width: 64px;
  border: 2px solid #212165;
  border-radius: 3px;
}
:global(.vtex-store-components-3-x-skuSelectorItem--s)
  :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
  color: #212165;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
:global(.vtex-store-components-3-x-skuSelectorItem--selected) {
  height: 32px;
  width: 64px;
  border-radius: 3px;
  background-color: #ccff00;
  border: 0;
}
:global(.vtex-store-components-3-x-skuSelectorItem--selected)
  :global(.vtex-store-components-3-x-frameAround) {
  border: 0;
}
:global(.vtex-store-components-3-x-skuSelectorItem--selected)
  :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
  color: #212165;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
/* selector tallas ends */

.carouselGaleryThumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}
:global(.vtex-product-price-1-x-listPrice) {
  /* margin-top: 10px; */
}
:global(.vtex-flex-layout-0-x-flexCol--col-product-info)
  :global(.vtex-product-price-1-x-listPriceValue)
  :global(.vtex-product-price-1-x-currencyContainer) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 15px;
}
:global(.vtex-flex-layout-0-x-flexCol--col-product-info)
  :global(.vtex-product-price-1-x-savings) {
  color: #d81717;
  font-family: CenturyGothicBold;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  margin-left: 20px;
}
:global(.vtex-flex-layout-0-x-flexCol--col-product-info)
  :global(.vtex-product-price-1-x-sellingPrice) {
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 37px;
  margin-top: 20px;
}
/* select tallas */
:global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  margin-left: 0;
}

/* select quantity starts -----------------------------------------------------------*/
:global(.vtex-flex-layout-0-x-flexRow--row-qty-buyButton) {
  margin: 20px 0;
  display: flex;
  padding: 0 7px;
}
:global(.vtex-flex-layout-0-x-flexRow--row-qty-buyButton)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  padding: 0;
}
:global(.vtex-flex-layout-0-x-flexColChild--col-qty) {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}
:global(.vtex-product-quantity-1-x-quantitySelectorTitle) {
  display: none;
}
:global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
  margin: 0;
}
/* minus button */
:global(.vtex-numeric-stepper__minus-button-container) {
  height: 32px;
  width: 32px;
  border: 2px solid #212165;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
:global(.vtex-numeric-stepper__minus-button) {
  background-color: transparent;
  border: 0;
}
:global(.vtex-numeric-stepper__minus-button__text) {
  /* font-size: 21px;
  font-weight: bold; */
  color: #212165;
}

/* plus button */
:global(.vtex-numeric-stepper__plus-button-container) {
  height: 32px;
  width: 32px;
  border: 2px solid #212165;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
:global(.vtex-numeric-stepper__plus-button) {
  background-color: transparent;
  border: 0;
  line-height: 2.3;
}
:global(.vtex-numeric-stepper__plus-button__text) {
  color: #212165;
}

/* input qty  */
:global(.vtex-numeric-stepper__input) {
  border: 0;
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  width: 3rem;
}

/* Buy button starts */
:global(.vtex-flex-layout-0-x-flexColChild--col-buyButton) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
:global(.vtex-flex-layout-0-x-flexRowContent--row-qty-buyButton) {
  display: flex;
}
:global(.vtex-flex-layout-0-x-flexCol--col-product-info)
  :global(.vtex-flex-layout-0-x-flexColChild--col-buyButton)
  :global(.vtex-button) {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  background-color: #ccff00;
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  border: 0;
}
:global(.vtex-flex-layout-0-x-flexColChild--col-buyButton)
  :global(.vtex-add-to-cart-button-0-x-buttonText) {
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
:global(.vtex-store-components-3-x-productDescriptionTitle) {
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}
:global(.vtex-store-components-3-x-content) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 15px;
}
:global(.vtex-rich-text-0-x-heading) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
}

/* reviews starts */
:global(.vtex-reviews-and-ratings-2-x-container) {
  box-shadow: 0 0 0 0 #fff;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 10px;
}
:global(.vtex-reviews-and-ratings-2-x-reviewsHeading) {
  color: #252525;
  font-family: centuryGothicBold;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
  border: 0;
}
:global(.vtex-reviews-and-ratings-2-x-loginLink) {
  color: #004fff;
  font-family: CenturyGothicBold;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
.reviewsCommentsContainer {
  color: #252525;
  font-family: centuryGothicBold !important;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}
/* select quantity ends */

/* add to wishlist starts */
:global(.vtex-wish-list-1-x-wishlistIcon) {
  background: url(/arquivos/wishlist-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
:global(.vtex-wish-list-1-x-wishlistIconContainer) {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  align-items: flex-start;
  padding-top: 0;
}
/* add to wishlist ends */

/* share icons starts */
:global(.vtex-store-components-3-x-shareContainer) {
  display: flex;
}
:global(.vtex-store-components-3-x-shareLabel) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  text-decoration: underline;
}
:global(.vtex-store-components-3-x-shareSocialButton) {
  margin-left: 12px;
}
/* share icons ends */

.carouselGaleryThumbs .swiper-wrapper {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

/* desciption product */
:global(.vtex-store-components-3-x-productDescriptionContainer) {
  padding: 0 5px;
}
@media (max-width: 698.98px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--row-qty-buyButton)
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    width: 50% !important;
  }
  :global(.vtex-flex-layout-0-x-flexCol--col-product-info) {
    padding: 0 5px;
  }
}
/*----------------------------- PDP Ends ---------------------------*/
/*----------------------------- Institucionales Starts ---------------------------*/
:global(.vtex-flex-layout-0-x-flexColChild--titlecol-institucional)
  :global(.vtex-rich-text-0-x-heading) {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
}
:global(.vtex-rich-text-0-x-wrapper--contenido-institucional)
  :global(.vtex-rich-text-0-x-heading) {
  color: #212165;
  font-family: CenturyGothicBold;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
}

:global(.vtex-rich-text-0-x-wrapper--contenido-institucional)
  :global(.vtex-rich-text-0-x-paragraph) {
  color: #000000;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: justify;
}
/*----------------------------- Institucionales Ends ---------------------------*/

/*######################### Estilos Mi Cuenta #################################*/

:global(.vtex-my-orders-app-3-x-orderHeader) {
  font-family: CenturyGothicBold;
}
:global(.vtex-account_menu-link) {
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

:global(.vtex-my-account-1-x-boxContainer) {
  border-color: #212165;
}
:global(.vtex-pageHeader__title) {
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
}
:global(.vtex-my-account-1-x-dataEntryLabel) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
}
:global(.vtex-profile-form-3-x-personalFields) :global(.vtex-input__label) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
}
:global(.vtex-my-account-1-x-dataEntryChildren) {
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
}
:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper)
  :global(.vtex-button) {
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 29px;
}
:global(.vtex-my-account-1-x-newsletterContainerTitle) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
}
:global(.vtex-my-account-1-x-newsletterContainerMessage) {
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 16px;
}
:global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label) {
  color: #212165;
  font-family: CenturyGothicBold;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 16px;
}
:global(.vtex-my-account-1-x-addressCreate) :global(.vtex-dropdown__label) {
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}
:global(.vtex-address-form__postalCode) :global(.vtex-input__label) {
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}
:global(.vtex-my-account-1-x-addressCreate) :global(.vtex-input__label) {
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}
:global(.vtex-my-account-1-x-boxContainerBody) {
  color: #212165 !important;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 21px;
}
:global(.vtex-input__label) {
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}
:global(.vtex-flex-layout-0-x-flexColChild--titleWishlist)
  :global(.vtex-rich-text-0-x-heading) {
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 18px;
}
:global(.vtex-slider-layout-0-x-paginationDotsContainer--shelf) {
  display: none;
}

/* Order placed */

:global(.vtex-order-placed-2-x-orderNumber) {
  /* color: green; */
}
:global(.vtex-order-placed-2-x-orderPlacedHeader)
  :global(.vtex-order-placed-2-x-confirmationIconWrapper):first-child {
  color: #ccff00;
  font-size: 32px;
}
:global(.vtex-order-placed-2-x-orderPlacedHeader)
  :global(.vtex-order-placed-2-x-confirmationTitle) {
  font-family: CenturyGothicBold;
  font-size: 36px;
}
:global(.vtex-order-placed-2-x-orderPlacedHeader)
  :global(.vtex-order-placed-2-x-confirmationMessage) {
  font-family: CenturyGothicRegular;
  font-size: 16px;
  padding: 10px 20px;
}

:global(.vtex-order-placed-2-x-orderPlacedHeader) :global(.vtex-button) {
  border: 1px solid #ccff00;
  width: 270px;
  height: 45px;
  font-family: CenturyGothicRegular;
  font-size: 18px;
  color: #000000;
}
:global(.vtex-order-placed-2-x-orderPlacedHeader) :global(.vtex-button):hover {
  background-color: #ccff00;
  color: #ffffff;
}
:global(.vtex-order-placed-2-x-orderPlacedHeader)
  :global(.vtex-order-placed-2-x-noticesList) {
  padding: 0px 150px;
  background-color: #ffffff;
}
:global(.vtex-order-placed-2-x-noticeListItem) {
  background-color: #f2f4f5;
  margin: 20px 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border-radius: 5px;
  padding: 12px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: CenturyGothicRegular;
  font-size: 18px;
}
/* :global(.vtex-order-placed-2-x-orderPlacedMainWrapper)
  :global(.vtex-order-placed-2-x-orderPaymentWrapper) {
  border-bottom: 1px solid #ccff00;
} */
:global(.vtex-order-placed-2-x-orderPlacedMainWrapper) {
  font-family: CenturyGothicRegular !important;
}
:global(.vtex-order-placed-2-x-orderPlacedMainWrapper)
  :global(.vtex-flex-layout-0-x-flexRow) {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
:global(.vtex-order-placed-2-x-orderPlacedMainWrapper)
  :global(.vtex-profile-form-3-x-profileSummary) {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
:global(.vtex-order-placed-2-x-orderPlacedMainWrapper)
  :global(.vtex-order-placed-2-x-section--paymentMethods) {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
:global(.vtex-order-placed-2-x-package--delivery)
  :global(.vtex-order-placed-2-x-packageHeaderColumn) {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
:global(.vtex-order-placed-2-x-orderPlacedMainWrapper)
  :global(.vtex-order-placed-2-x-productList) {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 10px;
}
:global(.vtex-order-placed-2-x-orderPlacedMainWrapper)
  :global(.vtex-order-placed-2-x-totalList) {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
:global(.vtex-order-placed-2-x-orderPlacedMainWrapper)
  :global(.vtex-order-placed-2-x-section) {
  border-bottom: 1px solid #ccff00;
}
:global(.vtex-order-placed-2-x-orderPlacedMainWrapper) :global(.vtex-button) {
  border: 1px solid #ccff00;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  color: #000;
}
:global(.vtex-order-placed-2-x-orderPlacedMainWrapper)
  :global(.vtex-button):hover {
  background-color: #ccff00;
  color: #ffffff;
}
/* Responsive start */
@media (max-width: 885.98px) {
  :global(.vtex-order-placed-2-x-orderPlacedHeader)
    :global(.vtex-order-placed-2-x-noticesList) {
    padding: 0px 20px;
  }
  :global(.vtex-order-placed-2-x-orderPlacedMainWrapper)
    :global(.vtex-order-placed-2-x-productList) {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
      0 2px 6px 2px rgba(60, 64, 67, 0.149);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0px;
  }
}
@media (max-width: 585.98px) {
  :global(.vtex-order-placed-2-x-orderPlacedHeader)
    :global(.vtex-order-placed-2-x-confirmationMessage) {
    font-size: 16px;
  }
  :global(.vtex-order-placed-2-x-orderPlacedHeader)
    :global(.vtex-order-placed-2-x-noticesList) {
    padding: 0px 5px;
  }
}

/*----------------- Menu página Institucional ------------------------*/
:global(.vtex-rich-text-0-x-paragraph--titulofaqs){
  font-size: 32px;
  color: #212165;
}


:global(.vtex-menu-2-x-menuItemInnerDiv--titmeinst){
  background-color: #03054e;
  height: 70px;
}

:global(.vtex-menu-2-x-styledLinkContent--titmeinst){
  color: #ffffff;
  font-size: 24px;
  margin-top: 19px;
}

:global(.vtex-rich-text-0-x-headingLevel4--contfaqinst){
  font-size: 22px !important;
  color: #212165 !important;
  margin-bottom: 25px !important;
}

:global(.vtex-rich-text-0-x-wrapper--contfaqinst){
  padding-bottom: 50px;
  padding-left: 10px;
}

:global(.vtex-menu-2-x-menuItem--titmeinst){
  padding-top: 25px ;
}

:global(.vtex-menu-2-x-accordionIcon--titmeinst--isOpen){
  content: url(assets/collapse.png);
  position: relative;
  bottom: 14px;
}
:global(.vtex-menu-2-x-accordionIcon--titmeinst--isClosed){
  content: url(assets/expand.png);
  position: relative;
  bottom: 14px;
}

:global(.vtex-flex-layout-0-x-flexColChild--colinst){
  border: 1px solid #212165;
  padding: 15px;
  padding-bottom: 50px;
  margin: 5px;
}

:global(.vtex-rich-text-0-x-listItem){
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: justify;
}

/*----------------- Menu página Institucional ------------------------*/

:global(.vtex-rich-text-0-x-paragraph--textnewstop) {
  margin-top: 0%;
  font-family: 'CenturyGothicRegular';
}

:global(.vtex-flex-layout-0-x-flexCol--newstopcontainer){
  padding-top: 25px;
}

/*Contact page */
:global(.vtex-flex-layout-0-x-flexRow--contactCont) :global(.vtex-store-components-3-x-container){
  margin: 0 140px;
}

:global(.vtex-rich-text-0-x-strong){
  color: #03044e;
  font-size: 20px
}

/* Productos relacionados */

:global(.vtex-shelf-1-x-relatedProducts--relatedCar) :global(.vtex-product-summary-2-x-container){
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}