.expandIcon {
  color: #727273;
}
:global(.vtex-store-components-3-x-shareSocialIcon):first-child {
  display: none;
}

:global(.vtex-store-components-3-x-shareContainer)
  :global(.vtex-store-components-3-x-shareSocialButton):first-child::before {
  content: " ";
  display: block;
  height: 25.14px;
  width: 25.14px;
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-image: url("assets/cool-facebook-icon.png");
}

:global(.vtex-store-components-3-x-shareContainer)
  :global(.vtex-store-components-3-x-shareSocialButton):not(:first-child)::before {
  content: " ";
  display: block;
  height: 25.14px;
  width: 25.14px;
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-image: url("assets/cool-whatsapp-icon.png");
}

:global(.vtex-store-components-3-x-shareContainer)
  :global(.vtex-store-components-3-x-shareSocialButton):last-child::before {
  content: " ";
  display: block;
  height: 25.14px;
  width: 25.14px;
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-image: url("assets/cool-pinterest-icon.png");
}
