/* add transitions */
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-store-components-3-x-logoLink),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-minicart-2-x-openIconContainer),
:global(.vtex-sticky-layout-0-x-container)
  :global(.vtex-store-components-3-x-searchBarContainer) {
  transition: all 0.3s ease;
  display: block;
}

/* desktop/mobile main header padding and background transitions */
:global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  transition: background 0.3s ease;
  will-change: padding, background;
}

/* main header desktop has a bigger padding when not stuck */
:global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* add a box-shadow to desktop/mobile header when stuck */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  /* box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); */
}

/*
 * remove the extra padding when stuck from the desktop header
 * we add a transition only when "stuck" for the "unstick" step seem faster
 */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  transition: padding 0.3s ease, background 0.3s ease;
  padding-top: 0;
  padding-bottom: 0;
}

/* if supported add some translucency to the desktop/mobile header background */
@supports (backdrop-filter: blur(5px)) {
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    backdrop-filter: blur(8px);
  }

  /* header background when stuck and not hovered */
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck):not(:hover)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
    /* background: rgba(0, 0, 0, 0.3); */
    /* background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
  }
}

/* stick wrapper with the same color as the desktop/mobile header */
:global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {
  background-color: #f0f0f0;
}

/* resize the logo for neat effect */
:global(.vtex-sticky-layout-0-x-wrapper--stuck)
  :global(.vtex-store-components-3-x-logoLink) {
  transform: scale(0.85);
}

@media (prefers-reduced-motion: reduce) {
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-store-components-3-x-logoLink),
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-minicart-2-x-openIconContainer),
  :global(.vtex-sticky-layout-0-x-container)
    :global(.vtex-store-components-3-x-searchBarContainer),
  :global(.vtex-sticky-layout-0-x-wrapper--stuck)
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
    transition: none;
  }
}

/* header desktop starts */
:global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
}
:global(.vtex-flex-layout-0-x-flexColChild--col-carrito-icon)
  :global(.vtex-button):hover {
  background-color: transparent;
}
:global(.vtex-login-2-x-profileIcon) {
  display: none;
}
:global(.vtex-login-2-x-container) {
  margin-right: 25px;
}
:global(.vtex-login-2-x-container) :global(.vtex-button)::before {
  content: url(/arquivos/account-icon.svg);
}
:global(.vtex-login-2-x-container) :global(.vtex-button__label) {
  display: none;
}
:global(.vtex-login-2-x-container) :global(.vtex-button):hover {
  background-color: transparent;
}
:global(.vtex-login-2-x-container) :global(.vtex-button):focus {
  background-color: transparent;
}
:global(.vtex-flex-layout-0-x-flexColChild--col-carrito-icon)
  :global(.vtex-minicart-2-x-minicartIconContainer)::before {
  content: url(/arquivos/cart-icon.svg);
}
:global(.vtex-flex-layout-0-x-flexColChild--col-carrito-icon)
  :global(.vtex-minicart-2-x-cartIcon) {
  display: none;
}
:global(.vtex-store-components-3-x-searchBarContainer) {
  width: 539px;
}
:global(.vtex-store-components-3-x-searchBarContainer)
  :global(.vtex-input-prefix__group) {
  border: 0;
  background: #f6f6f6;
  border-radius: 8px;
  height: 40px;
  color: rgba(37, 37, 37, 0.66);
  font-family: CenturyGothicRegular;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-store-components-3-x-searchBarContainer)
  :global(.vtex-styleguide-9-x-input)::placeholder {
  color: rgba(37, 37, 37, 0.66);
  font-family: CenturyGothicRegular;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-store-components-3-x-searchBarContainer)
  :global(.vtex-styleguide-9-x-input) {
  color: rgba(37, 37, 37, 0.66);
  font-family: CenturyGothicRegular;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-rich-text-0-x-link--contactanos-link) {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-minicart-2-x-minicartContainer)
  :global(.vtex-minicart-2-x-openIconContainer) {
  padding: 0;
}

:global(.vtex-minicart-2-x-openIconContainer) :global(.vtex-button) {
  width: auto;
}

:global(.vtex-store-components-3-x-searchBarIcon)::before {
  content: url(/arquivos/search-icon.svg);
  padding-top: 5px;
}
:global(.vtex-store-components-3-x-searchIcon) {
  display: none;
}

/* search results starts */
:global(.vtex-search-2-x-biggy-autocomplete) {
  color: #212165;
  font-family: CenturyGothicBold;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}
:global(.vtex-search-2-x-itemListTitle) {
  color: #212165;
  font-family: CenturyGothicBold;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}
:global(.vtex-search-2-x-tileListTitle) {
  color: #212165;
  font-family: CenturyGothicBold;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}
/* search results ends */
/* header desktop ends */

/* mini carrito  desktop starts*/
:global(.vtex-minicart-2-x-closeIconButton) {
  display: flex;
  align-items: center;
}
:global(.vtex-minicart-2-x-closeIconButton)::after {
  content: "CARRITO";
  font-family: CenturyGothicBold;
  text-align: center;
  position: absolute;
  left: 40%;
  color: #252525;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-minicart-2-x-minicartTitle) {
  display: none;
}
:global(.vtex-product-list-0-x-productListUnavailableItemsMessage) {
  display: none;
}
:global(.vtex-minicart-2-x-minicartProductListContainer)
  :global(.vtex-product-list-0-x-productBrandName) {
  display: none;
}
:global(.vtex-minicart-2-x-minicartProductListContainer)
  :global(.vtex-product-list-0-x-productName) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-minicart-2-x-minicartProductListContainer)
  :global(.vtex-product-list-0-x-productPriceCurrency) {
  display: none;
}
:global(.vtex-minicart-2-x-minicartProductListContainer)
  :global(.vtex-product-list-0-x-price) {
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 17px;
}
:global(.vtex-minicart-2-x-minicartProductListContainer)
  :global(.vtex-flex-layout-0-x-flexRowContent) {
  position: relative;
}
:global(.vtex-minicart-2-x-minicartProductListContainer)
  :global(.vtex-product-list-0-x-quantitySelectorContainer) {
  position: absolute;
  top: 0px;
  right: 10px;
}
:global(.vtex-product-list-0-x-removeButton)
  :global(.vtex-product-list-0-x-deleteIcon) {
  display: none;
}
:global(.vtex-product-list-0-x-removeButton)::before {
  content: url(/arquivos/delete-item-icon.png);
}
:global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 20px;
}
:global(.vtex-minicart-2-x-minicartCheckoutButton) :global(.vtex-button) {
  border-radius: 20px;
  background-color: #ccff00;
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  border: 0;
}
:global(.vtex-minicart-2-x-minicartProductListContainer)
  :global(.vtex-product-list-0-x-unitPrice) {
  display: none;
}
:global(.vtex-checkout-summary-0-x-summarySmallContent)
  :global(.vtex-checkout-summary-0-x-summaryItemContainer):last-child
  :global(.vtex-checkout-summary-0-x-summaryItemLabel) {
  font-family: CenturyGothicBold;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}
:global(.vtex-checkout-summary-0-x-summarySmallContent)
  :global(.vtex-checkout-summary-0-x-summaryItemContainer):last-child
  :global(.vtex-checkout-summary-0-x-price) {
  color: #252525;
  font-family: CenturyGothicBold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-product-list-0-x-quantitySelectorContainer--qty-selector)
  :global(.vtex-product-list-0-x-inputContainer) {
  width: 3rem;
}
/* mini carrito  desktop ends*/

/* header login desktop stars */
:global(.vtex-login-2-x-contentContainer) {
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-login-2-x-box) {
  right: -33px !important;
}
:global(.vtex-login-2-x-formTitle) {
  /* display: none; */
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}
:global(.vtex-styleguide-9-x-input) {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-styleguide-9-x-input)::placeholder {
  color: #252525;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-login-2-x-formFooter) {
  border: 0;
  border-top: 1px solid #212165;
}
:global(.vtex-login-2-x-sendButton) :global(.vtex-button) {
  border-radius: 20px;
  background-color: #ccff00;
  height: 40px;
  border: 0;
  /* padding-left: 10px;
  padding-right: 10px; */
  width: 108px;
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
}
:global(.vtex-login-2-x-forgotPasswordLink) {
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-button__label) {
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
:global(.vtex-login-2-x-dontHaveAccount) {
  color: #212165;
  font-family: CenturyGothicRegular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}
/* header login desktop ends */

/* header menu starts */
:global(.vtex-flex-layout-0-x-flexRowContent--menu-link) {
  height: 35px;
}

/* header menu ends */

/* header mobile starts*/
:global(.vtex-sticky-layout-0-x-container) {
  background-color: #ffffff;
}
:global(.vtex-flex-layout-0-x-flexRow--main-header-mobile) {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
:global(.vtex-flex-layout-0-x-flexRow--search-col-mobile)
  :global(.vtex-store-components-3-x-container) {
  background-color: #ffffff;
}
:global(.vtex-flex-layout-0-x-flexRowContent--main-header-mobile) {
  display: flex;
}
:global(.vtex-flex-layout-0-x-flexColChild--col-account-wishlist-cart)
  :global(.vtex-flex-layout-0-x-flexRowContent) {
  display: flex;
}
:global(.vtex-flex-layout-0-x-flexColChild--col-account-wishlist-cart)
  :global(.vtex-flex-layout-0-x-flexColChild--col-wishlist) {
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRow--search-col-mobile) {
  margin-top: 5px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--search-col-mobile)
  :global(.vtex-styleguide-9-x-input) {
  border-radius: 5px;
  background-color: #f6f6f6;
}
:global(.vtex-flex-layout-0-x-flexRowContent--search-col-mobile)
  :global(.vtex-input__suffix) {
  border-radius: 5px;
  background-color: #f6f6f6;
}
/* header mobile ends */

@media (max-width: 950.98px) {
  :global(.vtex-flex-layout-0-x-flexColChild--col-account-wishlist-cart)
    :global(.vtex-flex-layout-0-x-flexCol--col-carrito-icon) {
    margin: 0 !important;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--col-account-wishlist-cart)
    :global(.vtex-flex-layout-0-x-flexCol--col-wishlist) {
    margin: 0 !important;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--col-account-wishlist-cart)
    :global(.vtex-flex-layout-0-x-flexColChild--col-wishlist) {
    text-align: center;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--col-account-wishlist-cart)
    :global(.vtex-login-2-x-container) {
    margin: 0;
    justify-content: center;
  }
}

@media (max-width: 568px) {
  :global(.vtex-minicart-2-x-minicartProductListContainer)
    :global(.vtex-product-list-0-x-quantitySelectorContainer) {
    top: 10px;
  }
}

/*----------------------  Inicio personalización menu desk  -------------------------*/

:global(.vtex-menu-2-x-styledLinkContent--itemenprin){
  font-family: 'CenturyGothicBold';
  font-size: 16px;
}



:global(.vtex-menu-2-x-styledLinkContent--titcats){
  font-size: 14px;
  color: #212165;
  font-family: 'CenturyGothicBold';

}


:global(.vtex-menu-2-x-styledLinkContent--itemsubcat){
  color: black;
  font-size: 12px;
  padding-top: 5px !important;
  padding-bottom: 5px!important;
}

:global(.vtex-menu-2-x-styledLinkContainer--itemsubcat){
  padding-top: 5px !important;
  padding-bottom: 5px!important;
  font-family: 'CenturyGothic';
}

:global(.vtex-menu-2-x-menuContainerNav){
  width: 100%;
}

:global(.vtex-flex-layout-0-x-flexRow--contheaderdrawer){
  width: 100%;
}

:global(.vtex-flex-layout-0-x-flexColChild--cologodrawer){
  border-bottom: 1px solid #979797;
  padding-bottom: 25px;
}

:global(.vtex-store-drawer-0-x-closeIcon){
  display: none;
}

:global(.vtex-store-drawer-0-x-closeIconButton)::before{
  content:url(assets/left.png);
}
/*----------------- Mobile -------------------------------*/
@media (max-width:1024px){
  :global(.vtex-menu-2-x-styledLinkContent--itemenprin){
    color: #212165;
    font-size: 16px;

  }

  :global(.vtex-menu-2-x-styledLinkContent--itemsubcat){
    font-family: 'CenturyGothic' !important;
  }
}

:global(.vtex-menu-2-x-styledLinkContent--itemenprin)
  :global(.vtex-menu-2-x-accordionIcon--isOpen),
:global(.vtex-menu-2-x-styledLinkContent--itemenprin)
  :global(.vtex-menu-2-x-accordionIcon--isClosed){
    font-size: 0%;
}
:global(.vtex-menu-2-x-styledLinkContent--itemenprin)
  :global(.vtex-menu-2-x-accordionIcon--isClosed)::before{
    content: url(assets/open.png);
}

:global(.vtex-menu-2-x-styledLinkContent--itemenprin)
  :global(.vtex-menu-2-x-accordionIcon--isOpen)::before{
    content: url(assets/close.png);
}
/*----------------------  Fin personalización menu desk  -------------------------*/