@font-face {
  font-family: "CenturyGothicRegular";
  src: url(assets/fonts/CenturyGothicRegular.ttf);
}
@font-face {
  font-family: "CenturyGothicBold";
  src: url(assets/fonts/CenturyGothicBold.ttf);
}
